.header {
  background-color: $blue;
  padding: res(20) 0;

  @media (max-width: $size-mobile) {
    padding: res(20, mobile);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__block {
    display: flex;
    align-items: center;

    &--left {
      justify-content: flex-start;
    }

    &--right {
      justify-content: flex-end;

      @media (max-width: $size-mobile) {
        margin-right: res(70, mobile);
      }
    }
  }

  &__logo {
    display: block;
    margin-right: res(100);
    transition: $default-transition;

    @media (max-width: $size-notebook) {
      margin-right: res(50, notebook);
    }

    @media (max-width: $size-mobile) {
      margin-right: res(30, mobile);
      height: res(60, mobile);
    }

    &:hover {
      opacity: 0.6;
    }

    img {
      display: block;
      max-height: 100%;
    }
  }

  &__link {
    display: block;
    font-size: res(20);
    color: $white;
    transition: $default-transition;

    @media (max-width: $size-notebook) {
      font-size: res(20, notebook);
    }

    @media (max-width: $size-mobile) {
      font-size: res(20, mobile);
    }

    &:hover {
      color: $red;
    }

    &:first-child {
      margin-right: res(10);

      @media (max-width: $size-notebook) {
        margin-right: res(10, notebook);
      }

      @media (max-width: $size-mobile) {
        margin-right: res(10, mobile);
      }
    }

    &--lens {
      font-size: res(16);

      @media (max-width: $size-notebook) {
        font-size: res(16, notebook);
      }

      @media (max-width: $size-mobile) {
        font-size: res(16, mobile);
      }
    }
  }

  &__spacer {
    width: 2px;
    height: res(20);
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 res(15);

    @media (max-width: $size-notebook) {
      height: res(20, notebook);
      margin: 0 res(15, notebook);
    }

    @media (max-width: $size-mobile) {
      height: res(20, mobile);
      margin: 0 res(15, mobile);
    }
  }

  &__toggle {
    display: none;
    width: res(40, mobile);
    height: res(40, mobile);
    background-color: $primary;
    position: fixed;
    z-index: 11;
    top: 4vh;
    right: 2vh;

    &:before,
    &:after {
      content: " ";
      display: block;
      width: 60%;
      height: res(3, mobile);
      background-color: $white;
      position: absolute;
      left: 20%;
      transition: $default-transition;
    }

    &:before {
      top: 35%;
      width: 50%;
    }

    &:after {
      bottom: 35%;
    }

    &.active {
      &:before {
        top: 45%;
        width: 60%;
        transform: rotate(-45deg);
      }
      &:after {
        bottom: 45%;
        transform: rotate(45deg);
      }
    }

    @media (max-width: $size-mobile) {
      display: block;
    }
  }
}
