.latest-ebook {
  border: 2px solid $silver;

  &__image {
    background-color: $silver;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: res(30) res(40);

    @media (max-width: $size-notebook) {
      padding: res(30, notebook) res(40, notebook);
    }

    @media (max-width: $size-mobile) {
      padding: res(30, mobile) res(40, mobile);
    }

    img {
      display: block;
      max-width: 100%;
    }
  }

  &__info {
    padding: res(20);

    @media (max-width: $size-notebook) {
      padding: res(20, notebook);
    }

    @media (max-width: $size-mobile) {
      padding: res(20, mobile);
    }
  }

  &__title {
    font-size: res(18);
    line-height: res(22);
    font-family: $Klarna;
    color: $black;
    font-weight: $bold;
    margin-bottom: res(10);

    @media (max-width: $size-notebook) {
      font-size: res(18, notebook);
      line-height: res(22, notebook);
      margin-bottom: res(10, notebook);
    }

    @media (max-width: $size-mobile) {
      font-size: res(18, mobile);
      line-height: res(22, mobile);
      margin-bottom: res(10, mobile);
    }
  }

  &__description {
    line-height: 1.5;
    margin-bottom: res(10);

    @media (max-width: $size-notebook) {
      margin-bottom: res(10, notebook);
    }

    @media (max-width: $size-mobile) {
      margin-bottom: res(10, mobile);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__download {
    display: block;
    width: 50%;
    padding: res(10) res(30);
    font-family: $Klarna;
    font-weight: $bold;
    text-transform: uppercase;
    text-align: center;
    @include font-smoothing(on);
    letter-spacing: 0.1em;
    background-color: $blue;
    color: $ghost;
    transition: $default-transition;

    @media (max-width: $size-notebook) {
      padding: res(10, notebook) res(30, notebook);
    }

    @media (max-width: $size-mobile) {
      padding: res(10, mobile) res(30, mobile);
    }

    &:hover {
      background-color: $black;
    }
  }

  &__more {
    display: block;
    font-family: $Klarna;
    font-weight: $bold;
    @include font-smoothing(on);
    color: $blue;
    transition: $default-transition;

    &:hover {
      background-color: $black;
    }
  }
}
