.header {
  .menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media (max-width: $size-mobile) {
      display: none;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      background-color: $blue;

      &.active {
        display: flex;
      }
    }

    &-item {
      position: relative;
      cursor: pointer;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: res(10) res(12);
        color: $white;
        font-family: $Klarna;
        font-weight: $bold;
        font-size: res(16);
        text-transform: uppercase;
        transition: $default-transition;

        @media (max-width: $size-notebook) {
          height: res(120, notebook);
          padding: res(10, notebook) res(20, notebook);
          font-size: res(16, notebook);
        }

        @media (max-width: $size-mobile) {
          height: auto;
          padding: res(15, mobile) res(20, mobile);
          font-size: res(16, mobile);
        }

        &:hover {
          color: $red;
        }
      }

      &.current-menu-ancestor,
      &.current-menu-item {
        > a {
          color: $red;
        }
      }
    }
  }
}

.sub-menu {
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  min-width: 240px;
  background-color: $blue;
  border-radius: 0 0 res(10) res(10);
  overflow: hidden;
  display: none;

  @media (max-width: $size-mobile) {
    display: block;
    position: static;
    min-width: initial;
    border-radius: 0;
    box-shadow: none;
  }

  .menu-item {
    a {
      display: block;
      height: initial;

      @media (max-width: $size-mobile) {
        display: flex;
      }
    }
  }
}
