.newsletter {
  width: 100%;
  padding: res(20);
  margin-bottom: res(20);
  background: $beige url(../images/newsletter-background.png) no-repeat bottom
    right;
  background-size: 60%;

  @media (max-width: $size-notebook) {
    padding: res(20, notebook);
    margin-bottom: res(20, notebook);
  }

  @media (max-width: $size-mobile) {
    padding: res(20, mobile);
    margin-bottom: res(20, mobile);
  }

  &__title {
    font-family: $Klarna;
    font-size: res(18);
    color: $red;
    margin-bottom: res(20);
    @include font-smoothing(on);

    @media (max-width: $size-notebook) {
      font-size: res(18, notebook);
      margin-bottom: res(20, notebook);
    }

    @media (max-width: $size-mobile) {
      font-size: res(18, mobile);
      margin-bottom: res(20, mobile);
    }
  }

  &__input {
    display: block;
    width: 100%;
    background-color: transparent;
    border: 1px solid $black;
    height: res(40);
    padding: 0 res(10);
    margin-bottom: res(20);
    font-family: $Avenir;
    font-size: res(18);
    color: $black;

    @media (max-width: $size-notebook) {
      height: res(40, notebook);
      padding: 0 res(10, notebook);
      margin-bottom: res(20, notebook);
      font-size: res(18, notebook);
    }

    @media (max-width: $size-mobile) {
      height: res(40, mobile);
      padding: 0 res(10, mobile);
      margin-bottom: res(20, mobile);
      font-size: res(18, mobile);
    }
  }

  &__button {
    display: inline-block;
    height: res(40);
    padding: 0 res(30);
    border: 0;
    background: $red;
    font-family: $Klarna;
    font-weight: $bold;
    font-size: res(14);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $beige;
    transition: $default-transition;
    cursor: pointer;
    @include font-smoothing(on);

    @media (max-width: $size-notebook) {
      height: res(40, notebook);
      padding: 0 res(30, notebook);
      font-size: res(14, notebook);
    }

    @media (max-width: $size-mobile) {
      height: res(40, mobile);
      padding: 0 res(30, mobile);
      font-size: res(14, mobile);
    }

    &:hover {
      background-color: $black;
    }
  }
}
