.search-form {
  &__container {
    width: 100%;
    padding: 0 0 res(20);
    margin-bottom: res(20);
    border-bottom: 1px solid $sky;
    display: flex;
    align-items: center;
    justify-content: stretch;

    @media (max-width: $size-notebook) {
      padding: 0 0 res(20, notebook);
      margin-bottom: res(20, notebook);
    }

    @media (max-width: $size-mobile) {
      padding: 0 0 res(20, mobile);
      margin-bottom: res(20, mobile);
    }
  }

  &__input {
    display: block;
    height: res(32);
    padding: 0 res(10);
    font-family: $Avenir;
    font-size: res(16);
    color: $gray;
    border: 1px solid $lavender;
    flex-grow: 2;

    @media (max-width: $size-notebook) {
      height: res(32, notebook);
      padding: 0 res(10, notebook);
      font-size: res(16, notebook);
    }

    @media (max-width: $size-mobile) {
      height: res(40, mobile);
      padding: 0 res(10, mobile);
      font-size: res(16, mobile);
    }
  }

  &__button {
    display: block;
    height: res(32);
    padding: 0 res(10);
    background-color: $lavender;
    border: 0;
    font-family: $Klarna;
    font-size: res(14);
    font-weight: $bold;
    text-transform: uppercase;
    color: $deepsea;
    letter-spacing: 0.1em;
    transition: $default-transition;
    cursor: pointer;
    @include font-smoothing(on);

    @media (max-width: $size-notebook) {
      height: res(32, notebook);
      padding: 0 res(10, notebook);
      font-size: res(14, notebook);
    }

    @media (max-width: $size-mobile) {
      height: res(40, mobile);
      padding: 0 res(10, mobile);
      font-size: res(14, mobile);
    }

    &:hover {
      background-color: $blue;
      color: $ghost;
    }
  }
}
