.page {
  &-header {
    width: 100%;
    background-image: $gradient;
    margin-bottom: res(60);
    padding: res(80) 0 res(20);
    position: relative;

    @media (max-width: $size-notebook) {
      margin-bottom: res(60, notebook);
      padding: res(80, notebook) 0 res(20, notebook);
    }

    @media (max-width: $size-mobile) {
      margin-bottom: res(60, mobile);
      padding: res(50, mobile) 0 res(20, mobile);
    }

    &__title {
      display: inline-block;
      color: $deepsea;
      font-size: res(36);
      position: relative;
      z-index: 2;

      &:after {
        content: " ";
        display: block;
        width: 100%;
        height: res(10);
        background-color: $blue;
        position: absolute;
        bottom: res(-30);
        left: 0;
      }

      @media (max-width: $size-notebook) {
        font-size: res(36, notebook);

        &:after {
          height: res(10, notebook);
          bottom: res(-30, notebook);
        }
      }

      @media (max-width: $size-mobile) {
        font-size: res(36, mobile);

        &:after {
          height: res(10, mobile);
          bottom: res(-30, mobile);
        }
      }
    }

    &__query {
      color: $blue;
    }

    &__image {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0.1;
    }
  }
}
