@font-face {
  font-family: "Klarna Headline";
  src: url("../fonts/KlarnaHeadline-Bold.woff2") format("woff2"),
    url("../fonts/KlarnaHeadline-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Klarna Headline";
  src: url("../fonts/KlarnaHeadline-Light.woff2") format("woff2"),
    url("../fonts/KlarnaHeadline-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-Medium.woff2") format("woff2"),
    url("../fonts/Avenir-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
